.mainScreen {
  background-color: rgb(24, 31, 14);
  background-color: black;
  color: green;
  border: solid 2px greenyellow;
  min-width: 48vw;
  min-height: 24vh;
  padding: 0.5em;
  font-size: 1.4em;
  border-radius: 2em;
}

.img {
  max-width: 20vw;
  display: inline-block;
}

.battleCount {
  vertical-align: top;
  
  float: left;
}

.screenMsg {
  margin-top: 0.5em;
}