.mainScreen {
  background-color: rgb(24, 31, 14);
  background-color: black;
  color: green;
  border: solid 2px greenyellow;
  min-width: 68vw;
  min-height: 16vh;
  padding: 2em;
  font-size: 1.6em;
  border-radius: 2em;
}

.img {
  max-height: 20vh;
}