.enemyStats {
  display: inline-block;
  border: solid 2px mediumseagreen;
  padding: 2em;
  border-radius: 2em;
  margin: 1em;
  min-height: 12em;
}

.statsList {
  list-style: none;
  color: green;
}

.enemyName {
  font-size: 2em;
  color: greenyellow;
}