@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

.name {
  font-family: 'Inknut Antiqua', serif;
  font-size: 1em;
  color: mediumseagreen;
}

.nickName {
  font-family: 'Inknut Antiqua', serif;
  font-size: larger;
  color: mediumseagreen;
}

.yourStatsWindow {
  display: inline-block;
  border: solid 2px mediumspringgreen;
  padding: 0.5em;
  border-radius: 2em;
  margin: 1em;
  min-height: 10em;
}

.yourStatsList {
  list-style: none;
}

.youAre {
  text-align: left;
  color: yellowgreen;
}
