.name {
  font-size: larger;
  color: mediumseagreen;
}

.yourStatsWindow {
  display: inline-block;
  border: solid 2px mediumspringgreen;
  padding: 1em;
  border-radius: 2em;
  margin: 1em;
  min-height: 12em;
}

.yourStatsList {
  list-style: none;
}

.youAre {
  text-align: left;
  color: yellowgreen;
}
