.logo {
  margin-top: 0;
  margin-bottom: 0;
}

.sublogo {
  margin-top: 0;
}

.logop {
  margin-bottom: 0;
}

.link {
  color: mediumseagreen;
  color: limegreen;
  font-size: 1.2em;
}

.inNav {
  font-family: 'Inknut Antiqua', serif;
  font-size: 0.6em;
}